.App {
  text-align: center;
}

.App-body {
  padding-top: 50px;
  display: grid;
  container: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "subwayPane ebikePane"
    "subwayPane ebikePane";
}

.App-upcomingTrains {
  grid-area: subwayPane;
}

.App-nearbyEbikes {
  grid-area: ebikePane;
}