.trainArrival-logo {
    max-height: 8vw;
    padding-left: 40px
}


.trainArrival-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding-top: 20px;
}

.trainArrival-displayString {
    margin-left: 5vw;
    font-weight: bold;
    font-size: 5vw;
}

.trainArrival-warning {
    margin-left: 5vw;
    font-weight: bold;
    font-size: 5vw;
    color: gold;
}

.trainArrival-tooLate {
    margin-left: 5vw;
    font-weight: bold;
    font-size: 5vw;
    color: red;
}