.UpcomingBuses-footer {
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 25px;
}

.UpcomingBuses-titleRow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1px;
    padding-bottom: 20px;
}

.UpcomingBuses-title {
    font-size: 3.5vw;
    font-weight: bold;
    color: black;
}